﻿/*button*/
.css-button {
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    border-radius: 5px;
    background: #fb8153;
    box-shadow: 0px 10px 14px -7px #616174;
}

    .css-button:hover {
        background: linear-gradient(180deg, #18a418 5%, #32cd32 100%);
    }

    .css-button:active {
        position: relative;
        top: 1px;
    }

.css-button-text {
    float: left;
    padding: 9px 18px;
}

.css-button-icon {
    padding: 9px 10px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    border-right: rgba(255, 255, 255, 0.17) 1px solid;
    box-shadow: inset rgba(0,0,0,0.14) -1px 0px 0px;
}
.box-cate{
    border-top:0.5px dotted bisque;
}
.cate {
    padding: 15px;
}

.iCate {
    margin-right: 15px;
    color: forestgreen;
}

.w3_footer_grid {
    /*border: 1px solid rgba(0, 0, 0, 0.1);*/
    /*margin-right: 10px;*/
    min-height: 183px;
    max-width: 260px;
    /*background-color: #ffffff;*/
}
/* css form điều luật liên quan*/
.accordion-style2{margin: 10px 0}
.ui-accordion .ui-accordion-header {
    color: #478FCA;
    font-weight: 400;
    background-color: #F9F9F9;
    border: 1px solid #CDD8E3;
    padding: 8px 8px 9px 24px;
    cursor:pointer;
}
.ui-accordion .ui-accordion-header.ui-state-active {
    color: #4C8FBD;
    background-color: #EEF4F9;
    position: relative;
    font-weight: 700;
}
.ui-accordion .ui-accordion-content {
    border: 1px solid #CDD8E3;
    border-top-width: 0;
    padding: 11px 16px;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    /*text-indent: 0;
    margin-top: 0;
    position: absolute;
    left: 10px;
    top: 7px;*/
    margin: 0 5px 0 -10px;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon:before {
    display: inline;
    font-family: FontAwesome;
    font-size: 15px;
    content: "\f0da";
}
.ui-accordion .ui-accordion-header.ui-state-active .ui-accordion-header-icon:before {
    content: "\f0d7";
    font-weight: 400;
}

.body-content{padding:20px 0;min-height:582px}
.search-zone{padding: 0px 50px 20px 50px;}
.search-text{width:100%;resize:none;height:150px;padding:10px}
.btn-all{background:#fb8153;color:#fff}
.btnXemTraLoi{border-radius:20px;color:#fff}
.btnXemTraLoi:hover{color:#fb8153}
.list-zone{padding:20px 50px}
.list-zone .item-list{margin:15px 0 15px 0;border-bottom:1px solid #e7e7e7;text-align:justify}
.list-zone .item-list a{color:#000;float:left;width:100%}
.list-zone .item-list .sub-view{opacity:0.7;margin:15px 0 10px;float:left}
.list-zone .item-list .sub-view span{margin:0 15px 0 0}
.list-zone .item-list .view-answer{margin:10px;float:right}
.panel-title{border-bottom:1px solid #e7e7e7;font-size:20px;margin:30px 0 10px 0;padding-bottom:10px}
.btn-tag{border-radius:20px;margin:5px 0;outline:none!important}
.catalog-zone, .view-zone, .document-zone{margin:0 0 50px 0},.document-zone-ques{margin:0 0 50px 0}
.view-zone div, .document-zone div{margin:15px 0 15px 5px}
.view-zone div a, .view-zone div span{float:left;margin:0 10px 0 0}
.view-zone div span{opacity:0.8;}
.document-zone ul {list-style: none;padding: 0 0 0 25px;}
.document-zone ul li:before {
  content: "\F0E3"; /* FontAwesome Unicode F0E3 */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1em; /* same as padding-left set on li */
  color:chocolate;
}
.document-zone ul li{margin:10px 0}
.document-zone ul li span{margin:0 0 0 5px;}

.document-zone-ques ul {list-style: none;padding: 0 0 0 25px;}
.document-zone-ques ul li:before {
  content: "\f105"; /* FontAwesome Unicode F0E3 */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1em; /* same as padding-left set on li */
}
.document-zone-ques ul li{margin:10px 0}
.document-zone-ques ul li span{margin:0 0 0 5px;}
.f-bold{font-weight:bold}
.icon-question-detail{font-size:20px}
.text-question-detail{margin-bottom:15px;padding-left:50px;padding-right:50px}
.question-detail, .answer-detail{margin:10px 0 0 0;text-align:justify}
.sub-detail{float:right;margin:10px 0;opacity:0.7}
.sub-detail span{margin-left:15px}
.item-cmt{margin:10px 0;padding:10px;background-color:#e7e7e7}
.img-zone{text-align:center;}
.user-comment{margin-bottom:10px}
.agile_head{line-height: 35px;padding: 0 10px;border-left: 3px solid #fb8153;}
.agileits_leave{margin:10px 7px 10px 0}
.col-md-1{padding-left:25px}
.col-md-11{padding-left:0}
.fa-folder-open{color:#18a418}
.fa-group{color:#0094ff}
.fa-book{color:#f00}
.fa-question-circle-o{color:#fb8153}
.fa-comments{color:#18a418}
.fa-pencil{color:#4800ff}
.fa-question-circle{color:#616174}
h4{font-size:16px!important}
.w3_ques{height:183px;overflow-y:hidden;border: 1px solid rgba(0, 0, 0, 0.1);background-color: #ffffff;margin:5px 0;padding:10px}
.w3_sub{max-width:260px;margin:0 10px 20px;font-size:14px;opacity:0.7;overflow-x:hidden}
.category{float:left;width:50%}
@media (max-width:767px){
    .text-question-detail{padding-left:15px;padding-right:0}
    .w3_footer_grid{width:45%}
    .search-zone{padding:unset}
    .list-zone{padding:20px 0}
}
@media (max-width:480px){
    .w3_footer_grid{width:100%}
    .category{width:100%}
}
@media (max-width:991px){
    .text-question-detail{margin-bottom:40px}
}
/* Dropdown Button */
.dropbtn {
background-color: #fff; /*#6098C7;*/ /*#4CAF50;*/
color: #2573b3;
/*padding: 16px;*/
/*font-size: 12px;*/
border: none;
cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
/*background-color: #3e8e41;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
right: 5px;
background-color: #f9f9f9;
min-width: 140px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 111111;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 10px 8px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #478FCA;
    color:#F9F9F9;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
display: block;
}
/*Notification*/
.listNotification > li > div.scroll-content > ul > li {
list-style: none;
text-shadow: none;
padding-top: 0;
padding-bottom: 0;
font-size: 13px;
font-weight: 700;
text-transform: none;
}

.listNotification > li > div.scroll-content > ul > li:hover {
background-color: #E4ECF3;
}

.listNotification > li > div.scroll-content > ul > li > a {
padding: 10px 6px;
margin: 0;
border-top: 1px solid;
font-size: 12px;
color: #555 !important;
background-color: transparent !important;
white-space: normal;
border-top-color: #E4ECF3;
}

.listNotification > li > div.scroll-content > ul > li.notmesg {
width: 233px;
}

.listNotification > li.dropdown-header-btc {
background-color: #6098c7;
color: #fff;
border-bottom-color: #6098c7;
list-style: none;
width: 230px;
padding-left: 6px;
text-shadow: none;
padding-top: 0;
padding-bottom: 0;
line-height: 34px;
font-size: 13px;
font-weight: 700;
text-transform: none;
border-bottom: 1px solid;
}
/*Số tin nhắn*/
.dropbtn > span.badge {
position: relative;
top: -13px;
left: -13px;
padding-right: 5px;
padding-left: 5px;
}

.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
color: #fff;
background-color: #777;
border-radius: 10px;
}

.badge-important, .badge.badge-important {
background-color: #D15B47;
}

.clearfix {
/*overflow: auto;*/
}
/*thanh trượt*/
.scroll-content {
position: absolute;
left: 0;
background: #fff;
border: 1px solid #6098c7;
border-top: none;
overflow-y: hidden;
overflow-x: hidden;
max-height: 243px;
}

.scroll-content:hover {
overflow-y: auto;
}

.scroll-content::-webkit-scrollbar {
width: 12px;
}

.scroll-content::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
-webkit-border-radius: 10px;
border-radius: 10px;
}

.scroll-content::-webkit-scrollbar-thumb {
height: 47px;
-webkit-border-radius: 5px;
border-radius: 5px;
background: #E4ECF3;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.scroll-content::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}
.myerror{
    color:#ff0000;display:none;
}
/*message popup*/
.k-dialog .k-dialog-titlebar .k-dialog-title{
    text-align: center;
    color: aliceblue;
}
.k-dialog .k-window-titlebar{
    background-color: #fb8153;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.k-dialog a.k-dialog-action.k-dialog-close{
    margin-right: 8px;
    color:#fff;
}
.k-dialog .k-content p{
	text-align: center;
    font-size: 12.5pt;
    font-family: serif;
}
.k-button:hover, .k-button.k-state-hover {
    color: #ffffff;
    border-color: #fb8153;
    background-color: #fb8153;
}
.k-window.k-dialog {
    position: fixed;
    padding-top: 0;
    border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
/*end message popup*/
.captcha{float:left}
.captcha img{height:35px;width:120px}